on: [pull_request]

name: Rust CI

jobs:
  build_and_test:
    name: ZAPROXY Crate
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      - uses: actions/checkout@3
      - uses: actions-rs/cargo@v1
        with:
          command: build
          args: --release --all-features
